.speech{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.song{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

}

.direction{
    color: black;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.direction:hover{
    background-color: yellow;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.name{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.Fitz{
    color: darkcyan;

} 
.Zara{
    color: rgb(218, 14, 126);

}
.Both{
    color: goldenrod;

}
.King{
    color: darkmagenta;
    
} 
.King:hover{
    color: rgb(248, 4, 4);
    text-shadow:2px 3px 5px green
} 

.LordD{
    color: tomato;
}

.LordD:hover{
    color: rgb(10, 82, 227);
    text-shadow:2px 3px 5px black;
}
table{
    border:solid 3px red;
    
    color: rgb(5, 20, 229);
    text-align: center;   
}
td,td,th,tr{
    border: 2px solid black;
}
tr:nth-child(even){background-color: #ed5e5e;}

tr:hover {background-color: rgb(220, 234, 19);}


